<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- (any bindingRedirects here) -->
		</assemblyBinding>
	</runtime>

	<connectionStrings>
		<add name="RentalDb"
			 connectionString="Server=localhost;Database=rental_db;Uid=root;Pwd=ortonfan007!;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>
